*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    background-color: #d9dcd6;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Fonts */
h1,
h2,
h3,
p,
a {
    color: #ffffff;
}

h1 {
    font-size: 48px;
    
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 18px;
}

p {
    font-size: 16px;
}

a {
    text-decoration: none;
}

/* Images */
img {
    display: block;
    max-width: 100%;
}

/* Header */
.header {
    padding: 20px;
    background-color: #2a607c;
}

.header__logo {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: inline-block;
}

.header__logo > * {
    color: #d9dcd6; /* logo - accent color */
}

.header__nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

.header__nav a {
    margin-left: 25px;
}

/* Banner Hero Image */
#hero-image {
    height: 800px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 25px;
    
}


/* Main Content */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.content__container {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    background-color: #0072bb;
}
.content__image {
    max-height: 200px;
}

.content__title {
    margin-bottom: 20px;  
}

.float-left {
    float: left; 
    margin-right: 25px;
}

.float-right {
    float: right; 
    margin-left: 25px;
}


/* aside content*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefit__content {
    margin-bottom: 32px;
}

.benefit__title {
    margin-bottom: 10px;
    text-align: center;
}

.benefit__image {
    margin: 10px auto;
    max-width: 150px;
}


/* Footer */
.footer {
    padding: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    clear:both;
}

#footer__page-author {
    font-size: 20px;
    font-weight: 600;
}

#footer__page-author,
.footer__copyright {
    color: #000;
}


/* Media Queries */

@media (max-width: 1015px) {
    .header {
        padding: 10px 15px;
        position: relative;
    }

    .header__nav {
        padding: 15px;
        font-size: 16px;
        position: absolute;
        right: 0;
        top: 16px;
    }
}