/* Global resets */
*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

*:focus {
    outline: 2px solid red; /* Better contrast ratio for keyboard focusable elements */
}

/* Fonts */
h1,
h2,
h3,
p,
a {
    color: #ffffff;
}

h1 {
    font-size: 48px;
    
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 18px;
}

p {
    font-size: 16px;
}

a {
    text-decoration: none;
    border: 5px solid transparent; /* Applies spacing for focus styling */
}

/* Colors */

:root {
    --header-bg-color: #2a607c;
    --logo-accent-color: #d9dcd6;
    --main-content-bg-color: #0072bb; 
    --aside-content-bg-color: #2589bd;
}

/* Images */
img {
    display: block;
    max-width: 100%;
}



/* Body */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    background-color: #d9dcd6;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/* Header */
.header {
    padding: 20px;
    background-color: var(--header-bg-color);
}

.header__logo {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: inline-block;
}

.header__logo > * {
    color: var(--logo-accent-color);
}

.header__nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

.header__nav a {
    margin-left: 25px;
}

/* Banner Hero Image */
#hero-image {
    height: 800px;
    width: 100%;
    object-fit: cover; /* Prevents the image from being distorted because there is a fixed height set. */
    margin-bottom: 25px;  
}

/* Main Content */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.content__container {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    background-color: var(--main-content-bg-color);
}
.content__image {
    max-height: 200px;
}

.content__title {
    margin-bottom: 20px;  
}

.float-left {
    float: left; 
    margin-right: 25px;
}

.float-right {
    float: right; 
    margin-left: 25px;
}


/* aside content*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--aside-content-bg-color);
}

.benefit__content {
    margin-bottom: 32px;
}

.benefit__title {
    margin-bottom: 10px;
    text-align: center;
}

.benefit__image {
    margin: 10px auto;
    max-width: 150px;
}


/* Footer */
.footer {
    padding: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    clear:both;
}

#footer__author {
    font-size: 20px;
}

#footer__author,
.footer__copyright {
    color: #000;
    font-weight: 600;
}


/* Media Queries */

@media (max-width: 1440px) {
    .header {
        padding: 10px 15px;
        position: relative;
    }

    .header__nav {
        padding: 15px;
        font-size: 16px;
        position: absolute;
        right: 0;
        top: 16px;
    }

    h2 {
        font-size: 28px;
    }

    p {
        font-size: 15px;
    }

   .benefit__image {
    width: 125px;
   }
  
}